# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Gamers\Desktop\rest-with-spring-boot-and-java\08_ConnectingToMySQL\rest-with-spring-boot-and-java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
